tokens.env
pipfile.lock
/data
.venv/

.mypy_cache/
.pytest_cache/
*.coverage
/htmlcov
*/.cache
.cache/
*.idea
*/build
*/dist
/build
/dist
*/data
*/htmlcov
nimcache/
*.pyc
*.h5
__pycache__
nimcache/
myvenv
local_settings.py
db.sqlite3
/static
.DS_Store
